---
import '../../styles/global.css';
import HTML from '../../layouts/html.astro';
import Blocks from '../../components/blocks/_blocks.astro';
import {
	getNewMusicTuesdayBySlug,
	getNewMusicTuesdayIssues
} from '../../lib/content/newMusicTuesdayCollection';

export const prerender = true;

export async function getStaticPaths() {
	const issues = await getNewMusicTuesdayIssues();
	return issues.map((issue) => ({
		params: { slug: issue.slug }
	}));
}

const issue = await getNewMusicTuesdayBySlug(Astro.params.slug ?? '');
if (!issue) {
	throw Astro.redirect('/new-music-tuesday/');
}
---

<HTML title={issue.title} description="New Music Tuesday issue">
	<div class="min-h-screen bg-[#090b12] text-white">
		<header class="mx-auto max-w-6xl space-y-2 px-6 pt-12 pb-4">
			<h1 class="text-4xl font-bold">{issue.title}</h1>
			<p class="text-stone-300">{issue.publishedAt}</p>
		</header>
		<div class="mx-auto max-w-6xl space-y-8 px-6 pb-12">
			<Blocks blockData={issue.blocks} />
		</div>
	</div>
</HTML>
